body {
    margin: 0px;
    background: #5a5a5a;
}

#cache-pages {
    width: 75%;
}
.stuckpage {
    width: 100%;
    height: 8000px;
    display: none;
}
.stuckpage#current-page {
    display: block;
}

iframe {
    border: 0;
}

#hold-your-horses {
    margin-bottom:  500px;
    margin-top:     500px;
    padding:        100px;
}

label {
    /*color: #ffffff;*/
}



#settings {
    display: none;
    position: fixed;
    top: 0;
    right: 25%;
    width: 400px;
    height: 100%;
    margin: 0;
    padding: 10px;

    background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#484e55), color-stop(60%, #3a3f44), to(#313539));
    background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
    -webkit-filter: none;
    filter: none;
}

#inner-settings {
    margin-left: 15px;
}
#settings-reset-all {
    width: 50%;
    height: 40px;
    position: absolute;
    bottom: 20px;
    left: 25%;
}

.settings-group {
    margin-top: 30px;
}

#sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    margin: 0;
}

.btn span {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    height: 100%;
}
.btn span :active {  background-image: none; }
.btn span :hover  {  background-image: none; }

#prevlink        { height: 20vh; }
#nextlink        { height: 75vh; }
#settings-toggle { height: 5vh;  }

/* for minimal-ui setting */
/* hack: we move these out of view rather than hide them
         so they correctly recieve focus/enter events without being visible
*/
#sidebar.minimal-ui #prevlink { position: absolute; right: -100px; }
#sidebar.minimal-ui #nextlink { position: absolute; right: -100px; }
#sidebar.minimal-ui #settings-toggle {
    position: fixed;
    height: 40px;
    width:  40px;
    right:  0px;
    bottom: 0px;
}
